.link {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.link:hover {
  color: #ccfbf1;
}

.footer {
  left: 0;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 700px) {
  .footer {
    bottom: 0;
  }
  .footer1 {
    margin-left: 0vw;
    margin-right: 0vw;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    bottom: 0;
  }
  .footer1 {
    margin-left: 0vw;
    margin-right: 0vw;
  }
}
@media screen and (min-width: 1440px) {
  .footer1 {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
