.heady {
  margin-left: 5rem;
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
  text-decoration: none;
  color: white;
}
.heady:hover {
  color: white;
  border-bottom: 1px solid #e21837;
}
.link {
  text-decoration: none;
  color: white;
  width: max-content;
}

.link:hover {
  color: white;
  border-bottom: 1px solid #e21837;
}

.link2 {
  text-decoration: none;
  padding: 0.75rem;
  background-color: black;
  color: white;
  width: max-content;
}

.link2:hover {
  background-color: #e21837;
  color: white;
}
@media (max-width: 767px) {
  .link {
    display: none;
  }
}
@media (max-width: 1039px) {
  .link2 {
    display: none;
  }
}
